<header>
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
                <a class="navbar-brand ms-3" href="#">UserManagement</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="btn btn-outline-primary me-3 my-sm-0" *ngIf="!sessionStored" [routerLink]="['/login']" name="sessionStored">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="btn btn-outline-danger me-3 my-sm-0 ml-2" (click)="handleLogout()" *ngIf="sessionStored" name="sessionStored">Logout</a>
                    </li>
                  </ul>
                </div>
              </nav>
              
        </div>
    </div>
</header>